#heading {
    font-size: 32px;
}

body {
    background-image: url('gif/touhou.jpg');
    background-size: cover;
    background-color: black; /* make image darker */
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.home  {
    background-color: rgb(24, 24, 27);
    padding-left: 2.5rem;
    min-width: 240px;
    padding-right: 2.5rem;
    opacity: 0.75;
    border-radius: 5px;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 1.5rem;
    text-decoration: none;
    display: inline-block;
    margin: 50px;

  }